@charset "utf-8";
/* main */
*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 12px;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #B9B9C4 url(background/header_bg.gif) repeat-x;
}
ins{
	display: none;
}
ul{
	list-style-type: none;
}
#mainheader{
	height: 50px;
	background: url(background/header.gif) no-repeat 10px 50%;
}
ul.version{
	color: #FFF;
	text-align: right;
	padding: 2px 5px;
	line-height: 11px;
	font-size: 9px;
	font-weight: bold;
	float: right;
	font-family:微软雅黑, Arial;
}
a.logout{
	background: url(button/btn_logout.gif) no-repeat left bottom;
	height: 39px;
	width: 39px;
	float: right;
	margin: 5px 10px 0;
}
a.logout:hover{
	background-position: top;
}
.helpinfo{
	height: 37px;
	width: 350px;
	color: #FFFFFF;
	font-weight: bold;
	color: #FFF;
	background: url(background/handle_bg.gif) no-repeat left bottom;
	margin-left: 268px;
	padding: 8px 0 0 50px;
	line-height: 37px;
	display: none;
}
