@charset "utf-8";
/* main */
*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 12px;
	background-color: #878894;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
ul{
	list-style-type: none;
}
img{
	border: none;
}
#warpper{
	background: url(background/sider_bg.gif) repeat-x;
}
#warpper .title{
	background: #565863 url(background/sider_title.gif) repeat-x;
	padding-top: 5px;
}
.title h1{
	font-size: 10px;
	color: #d8d8e0;
	padding-left: 25px;
	font-weight: normal;
	line-height: 21px;
	background: url(icon/icon_admin.gif) no-repeat 10px 50%;
}
#warpper ul.control{
	padding-top: 5px;
	line-height: 45px;
}
ul.control li{
	padding: 1px 0;
}
ul.control a{
	height: 45px;
	color: #FFF;
	text-decoration: none;
	display: block;
	padding-left: 15px;
	margin-right: 1px;
	background: #9294a3 url(background/icon_bg_tint.gif) no-repeat 10px 50%;
}
ul.control li img{
	margin-right: 10px;
	vertical-align: middle;
	margin-top: 14px;
	margin-bottom: 14px;
}
ul.control a:hover{
	background-color: #565863;
}
ul.control a.choose{
	background: url(button/side_selected.gif) no-repeat left top;
	color: #333;
	margin-right: 0px;
}
ul.control a.choose:hover{
	background-position: left bottom;
}
