*{
	margin:0;
	padding:0;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
html,
body{
	background-color:#edf2f8
}
label{
	cursor: pointer;
	color: #C30;
}
input{
	vertical-align: middle;
}
input.button{
	border: none;
	background: transparent url(button/submit.gif) no-repeat;
	height: 21px;
	width: 80px;
	cursor: pointer;
	font-weight: bold;
	margin-left: 10px;
}
input.button:hover{
	background-position: left bottom;
}
input.file{
	width: 68%;
	padding: 1px;
}
.UpLoadBox{
	display: block;
	height: 21px;
	overflow: hidden;
	position: absolute;
	padding: 2px 0;
}
.MsgBox{
	line-height: 25px;
	color: #F30;
	font-weight: normal;
}
.MsgBox a{
	color: #666;
	background: url(icon/icon_refresh.gif) no-repeat left center;
	margin-left: 10px;
	padding-left: 16px;
}
.MsgBox a:hover{
	color: #09C;
}